@model ContatoModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">

                    <div class="col-xl-8 col-lg-8 col-md-12 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-8">
                        <div class="card card-plain">
                            <div class="card-header">
                                <h4 class="font-weight-bolder">Motorista</h4>
                                <p class="mb-0">Formulário de registro de motorista</p>
                            </div>
                            <div class="card-body">
            <form class="forms-sample" asp-controller="Contato" asp-action="Alterar" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="col-md-6">
                    <label for="ImgUrl">Image Url</label>
                    <input type="text" class="input-group input-group-outline mb-3" asp-for="ImgUrl" placeholder="Image Url">
                </div>
                <div class="col-md-6">
                    <label for="ImgUrl">Name</label>
                    <input type="text" class="input-group input-group-outline mb-3" asp-for="Name" placeholder="Your Name">
                </div>
                <div class="col-md-6">
                    <label for="Email">Email address</label>
                    <input type="email" class="input-group input-group-outline mb-3" asp-for="Email" placeholder="Your Email">
                </div>
                <div class="col-md-6">
                    <label for="Phone">Phone</label>
                    <input type="number" class="form-control" asp-for="Phone" placeholder="Your Phone">
                </div>
                <div class="col-md-6">
                    <label for="ImgUrl">Job</label>
                    <input type="text" class="input-group input-group-outline mb-3" asp-for="Job" placeholder="Your Name">
                </div>
                <div class="col-md-6">
                    <label for="Observation">Observation</label>
                    <textarea class="input-group input-group-outline mb-3" asp-for="Observation" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark" asp-controller="Contato" asp-action="Index">Cancel</button>
            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
